@import "tailwindcss";

@theme {
  --color-primary: #091B36;
  
  /* Yahan apne custom fonts add karein */
  --font-sans: "Lato", sans-serif;
  --font-serif: "Optima", serif;
  --color-secondary: #0074a7;
}

/* =========================
   LATO
========================= */

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


/* =========================
   OPTIMA
========================= */

@font-face {
  font-family: "Optima";
  src: url("/fonts/Optima/Optima.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Optima";
  src: url("/fonts/Optima/Optima-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Optima";
  src: url("/fonts/Optima/Optima-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Optima";
  src: url("/fonts/Optima/Optima-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


/* =========================
   GLOBAL
========================= */

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; 
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #111111;
  /* Tailwind automatically uses --font-sans for body now, 
     but keeping this line is also fine for safety */
  font-family: "Lato";
}

h1, h2, h3, h4, h5, h6{
  font-family: "Optima";
}

header{
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(3px);
}
.g33{
  gap: 33px;
}
.mt14{
  margin-top: 14px;
}
button {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}


@media (max-width: 991px){
  .g33 {
    gap: 12px;
}
}